<header class="p-3 bg-dark text-white">
  <div class="container">
    <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><%= link_to 'About Us', class: 'nav-link px-2 text-white' %></li>
      </ul>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><%= link_to 'Our Specialists', class: 'nav-link px-2 text-white' %></li>
      </ul>

        <li><%= link_to 'Profile', class: 'nav-link px-2 text-white' %></li>

        <li><%= link_to 'Log in as a Patient', class: 'nav-link px-2 text-white' %></li>
        <li><%= link_to 'Log In as a Doctor', class: 'nav-link px-2 text-white' %></li>
      </ul>
    </nav>
  </div>
</header>